
<section class="col-4 mx-auto">
<div>
    <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
      <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
    
    
    
    <form #accfrm="ngForm" (ngSubmit)="transferFund()">
    <div> From Account ID :  </div>
     <div>
        <div><input type="text" id="amount" name="amount" class="form-control"  required #fromId= "ngModel" [(ngModel)]="transferfundform.fromAccountId" /></div>
        <div class="alert alert-danger" *ngIf="fromId.invalid && fromId.touched">Sender ID is required</div>
     
    </div>
    
    <div> Enter Receipent ID :  </div>
     <div><input type="text" id="amount" name="amount" class="form-control"  required #toId= "ngModel" [(ngModel)]="transferfundform.toAccountId" /></div>
       <div class="alert alert-danger" *ngIf="toId.invalid && toId.touched">Receipent ID is required</div>
    
      
        <div>Enter Amount :  </div>
        <div><input type="number" id="amount" name="amount" class="form-control"  required #amt= "ngModel" [(ngModel)]="transferfundform.amt" /></div>
       <div class="alert alert-danger" *ngIf="amt.invalid && amt.touched">Amount is required</div>
    
        
        <button type="submit" class="btn-success p-1 m-1 " [disabled]="!accfrm.valid" >Transfer Fund</button>
</form>
   
</div>
</section>
    