<div class="col-md-4 mx-auto alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
<div class="col-md-6 mx-auto text-primary" *ngIf="userName != null">{{userName | titlecase}}</div>
<div class="col-4 mx-auto m-5">
    <input type="text" name="txtsearch" placeholder="search by entering the your customer ID"  [(ngModel)]="searchstr" class="form-control"/>
    
</div>

<table class="table shadow text-center table-striped table-hover col-md-8 mx-auto mt-3">
    <thead class="thead-dark shadow white-text">
    <tr>
        <th>Loan Request ID</th>
        <th>Loan Amount</th>
        <th>Loan Type</th>
        <th>Loan Tenure</th>
        <th>Request Status</th>
        <th>Date of request</th>
        <th>Annual Income</th>
        <th>customer</th>
        
    </tr>
    </thead>
    <tr *ngFor="let lr of loanrequests | searchby:searchstr">
        <td>{{lr.loanRequestId}}</td>
        <td>{{lr.loanAmount}}</td>
        <td>{{lr.loanType}}</td>
        <td>{{lr.loanTenure}}</td>
        <td>{{lr.reqStatus}}</td>
        <td>{{lr.dateOfRequest}}</td>
        <td>{{lr.annualIncome  | currency:'INR'}}</td>
        <td>{{lr.customer.customerId}}</td>
    </tr>
</table>

