<nav class="col-md-10 mx-auto bg-secondary p-2 row ">
    <a class="nav-item nav-link text-light"  routerLink="/getbyid"><button type="button" class="btn btn-info">Transactions by ID </button></a>
    <a class="nav-item nav-link text-light"  routerLink="/getbydate"><button type="button" class="btn btn-info">Transactions by Date</button></a>
    <a class="nav-item nav-link text-light"   routerLink="/viewall"><button type="button" class="btn btn-info">Transaction Details</button></a>    
    </nav>
