<div class="col-md-6 mx-auto text-primary" ></div>
<section class="col-4 mx-auto m1">
    Account ID <input type="text" name="txtname" [(ngModel)]="accountId" #accid="ngModel" required class="form-control"/>
    <div class="alert alert-danger" *ngIf="accid.invalid && accid.touched">Account ID is Required</div>
    <h2 class="text-center">
    <input type="button" class="btn btn-info"  (click)="searchById()" value="search" /></h2>
</section>
<section class="alert alert-danger col-4 mx-auto m-1" *ngIf="msg != undefined">
  
      {{msg}}
    
    </section>

<table class="table shadow text-center table-striped table-hover col-md-8 mx-auto mt-3" >
  <thead class="thead-dark shadow white-text">
  <tr>
    <th>Transaction Id</th>
    <th>Transaction Type</th>
    <th>Transaction Amount</th>
    <th>Transaction Description</th>
    <th>Transaction Date</th>
    <th>Account ID</th>
    <th>Account Type</th>
    <th>Account Status</th>
    <th>Customer Name</th>
    <th>Branch IFSC</th>
  </tr>
  </thead>
  <tr *ngFor="let acctrans of acctxn ">
      <td>{{acctrans.transaccountId}}</td>
      <td>{{acctrans.transType }}</td>
      <td>{{acctrans.transAmount| currency: 'INR' }}</td>
      <td>{{acctrans.transDescription| uppercase }}</td>
      <td>{{acctrans.transDate| date: 'dd-MM-yyyy'}}</td>
      <td>{{acctrans.account.accountId| uppercase}}</td>
      <td>{{acctrans.account.accountName}}</td>
      <td>{{acctrans.account. accountStatus}}</td>
      <td>{{acctrans.account.customer.customerName}}</td>
      <td>{{acctrans.account.customer.branch.branchIFSC}}</td>
  </tr>
</table>
