<nav class="col-md-10 mx-auto bg-secondary p-2 row ">
    <a class="nav-item nav-link text-light"  routerLink="/viewandprocessloanrequest"><button type="button" class="btn btn-light">View and process loan</button></a>
    <a class="nav-item nav-link text-light"  routerLink="/viewapprovedloans"><button type="button" class="btn btn-light">Approved loans</button></a>
    <a class="nav-item nav-link text-light"   routerLink="/viewrejectedloans"><button type="button" class="btn btn-light">Rejected Loans</button></a>
    <a class="nav-item nav-link text-light"   routerLink="/accountlistafteraddingloan"><button type="button" class="btn btn-light">Account</button></a>
    </nav>